html, body {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

body {
	color: #f4f4f4;
	background-color: #fff;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
